{
  "openapi": "3.1.0",
  "info": {
    "title": "Zenbu account service",
    "version": "1",
    "description": "Accounts, sign-in, profiles, and sync for every Zenbu app (ADR 0012). Sign-in is Better Auth's, under /v1/auth; a test holds each of its answers to this contract. Every error is the Error schema."
  },
  "servers": [
    {
      "url": "https://api.zenbujapanese.com",
      "description": "Production"
    },
    {
      "url": "https://api-staging.zenbujapanese.com",
      "description": "Staging"
    }
  ],
  "components": {
    "securitySchemes": {
      "accessToken": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "A 15-minute access token from GET /v1/auth/token, which takes the session token a sign-in returns, never the session token itself. It names the account (`sub`), the app (`azp`), when the learner signed in (`auth_time`), and the app's scopes (`scope`): `account:delete` for DELETE /v1/me, `profile` for /v1/me, and for sync `lists:read`, `lists:write`, `known:read`, `known:write`, `known:mark`, which marks a word Known but never clears one, and `watch:read` and `watch:write`, for the videos the learner watched. The dictionary service takes `dictionary:read`."
      },
      "sessionToken": {
        "type": "http",
        "scheme": "bearer",
        "description": "The signed session token from a sign-in's `set-auth-token` header. Send it only to /v1/auth."
      }
    },
    "schemas": {
      "Profile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The Zenbu user ID. It never changes."
          },
          "name": {
            "type": "string"
          },
          "username": {
            "type": [
              "string",
              "null"
            ]
          },
          "email": {
            "type": "string",
            "description": "The account's email. It can't be changed here."
          },
          "version": {
            "type": "integer",
            "minimum": 1,
            "description": "The profile revision. It goes up by one with each change, and jumps to the time in milliseconds when the service starts on a restored backup; send it back as `baseVersion` to change the profile."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "username",
          "email",
          "version",
          "createdAt",
          "updatedAt"
        ]
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "unauthorized"
              },
              "message": {
                "type": "string"
              }
            },
            "required": [
              "code",
              "message"
            ]
          }
        },
        "required": [
          "error"
        ],
        "description": "Every error. `code` is stable and machine-readable; `message` is for people and may change."
      },
      "ProfileConflict": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Error"
          },
          {
            "type": "object",
            "properties": {
              "current": {
                "$ref": "#/components/schemas/Profile"
              }
            },
            "required": [
              "current"
            ]
          }
        ],
        "description": "The profile changed since `baseVersion`. `current` is the profile as it is now."
      },
      "ProfilePatch": {
        "type": "object",
        "properties": {
          "baseVersion": {
            "type": "integer",
            "minimum": 1,
            "description": "The profile `version` this change was made to. If the profile has changed since, nothing is changed and the answer is a conflict with the current profile."
          },
          "name": {
            "type": "string",
            "description": "1 to 100 characters once trimmed, with runs of spaces made one and no control characters. Stored in Unicode NFC."
          },
          "username": {
            "type": [
              "string",
              "null"
            ],
            "description": "3 to 30 letters a to z, digits, or underscores, unique across accounts. It's normalized first (Unicode NFKC, trimmed, lowercased), so `Kana_Fan` is `kana_fan`. `null` removes it."
          }
        },
        "required": [
          "baseVersion"
        ],
        "additionalProperties": false
      },
      "DeleteAccount": {
        "type": "object",
        "properties": {
          "confirm": {
            "type": "boolean",
            "enum": [
              true
            ],
            "description": "The learner confirmed in the app."
          },
          "appleAuthorizationCode": {
            "type": "string",
            "minLength": 1,
            "maxLength": 4096,
            "description": "From a fresh Sign in with Apple, for an account that signs in with Apple. It's used once, to revoke the app's access with Apple."
          },
          "appleRedirectUri": {
            "type": "string",
            "maxLength": 2048,
            "format": "uri",
            "description": "The website only: the return URL its Sign in with Apple popup named, which Apple needs again to take the code. It must be on one of the website's origins. Without it, the website's code is taken as one Apple sent to GET /v1/auth/callback/apple."
          }
        },
        "required": [
          "confirm"
        ],
        "additionalProperties": false
      },
      "SyncAnswer": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MutationResult"
            },
            "description": "One per mutation, in order."
          },
          "changes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Change"
            },
            "description": "The entities that changed after the cursor, each once, as they are now, including the ones this request changed. On a page, lists come before their words, but a word can come on an earlier page than its list: hold it until the sync reaches `hasMore: false`."
          },
          "cursor": {
            "type": "string",
            "description": "Opaque, and at most 200 characters. Keep it once the changes are applied, and send it next time."
          },
          "hasMore": {
            "type": "boolean",
            "description": "More changes are waiting: sync again with the new cursor."
          }
        },
        "required": [
          "results",
          "changes",
          "cursor",
          "hasMore"
        ]
      },
      "MutationResult": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "status": {
                "type": "string",
                "enum": [
                  "applied"
                ]
              },
              "version": {
                "type": "integer"
              }
            },
            "required": [
              "id",
              "status",
              "version"
            ]
          },
          {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "status": {
                "type": "string",
                "enum": [
                  "conflict"
                ]
              },
              "version": {
                "type": "integer"
              },
              "current": {
                "$ref": "#/components/schemas/Change"
              }
            },
            "required": [
              "id",
              "status",
              "version",
              "current"
            ]
          },
          {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "status": {
                "type": "string",
                "enum": [
                  "rejected"
                ]
              },
              "error": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "example": "unauthorized"
                  },
                  "message": {
                    "type": "string"
                  }
                },
                "required": [
                  "code",
                  "message"
                ]
              }
            },
            "required": [
              "id",
              "status",
              "error"
            ]
          }
        ],
        "description": "`applied`: the change is in, at `version`. `conflict`: the entity changed since `baseVersion`, so nothing changed; `current` is it as it is now. `rejected`: the change can never apply as sent; `error.code` says why. A result is final: to try again, send a new mutation with a new ID."
      },
      "Change": {
        "anyOf": [
          {
            "type": "object",
            "properties": {
              "entity": {
                "type": "string",
                "enum": [
                  "profile"
                ]
              },
              "entityId": {
                "type": "string"
              },
              "operation": {
                "type": "string",
                "enum": [
                  "put"
                ]
              },
              "version": {
                "type": "integer"
              },
              "data": {
                "$ref": "#/components/schemas/Profile"
              }
            },
            "required": [
              "entity",
              "entityId",
              "operation",
              "version",
              "data"
            ]
          },
          {
            "type": "object",
            "properties": {
              "entity": {
                "type": "string",
                "enum": [
                  "knownWord"
                ]
              },
              "entityId": {
                "type": "string"
              },
              "operation": {
                "type": "string",
                "enum": [
                  "put"
                ]
              },
              "version": {
                "type": "integer"
              },
              "data": {
                "$ref": "#/components/schemas/KnownWord"
              }
            },
            "required": [
              "entity",
              "entityId",
              "operation",
              "version",
              "data"
            ]
          },
          {
            "type": "object",
            "properties": {
              "entity": {
                "type": "string",
                "enum": [
                  "list"
                ]
              },
              "entityId": {
                "type": "string"
              },
              "operation": {
                "type": "string",
                "enum": [
                  "put"
                ]
              },
              "version": {
                "type": "integer"
              },
              "data": {
                "$ref": "#/components/schemas/WordList"
              }
            },
            "required": [
              "entity",
              "entityId",
              "operation",
              "version",
              "data"
            ]
          },
          {
            "type": "object",
            "properties": {
              "entity": {
                "type": "string",
                "enum": [
                  "listWord"
                ]
              },
              "entityId": {
                "type": "string"
              },
              "operation": {
                "type": "string",
                "enum": [
                  "put"
                ]
              },
              "version": {
                "type": "integer"
              },
              "data": {
                "$ref": "#/components/schemas/ListWord"
              }
            },
            "required": [
              "entity",
              "entityId",
              "operation",
              "version",
              "data"
            ]
          },
          {
            "type": "object",
            "properties": {
              "entity": {
                "type": "string",
                "enum": [
                  "watchedVideo"
                ]
              },
              "entityId": {
                "type": "string"
              },
              "operation": {
                "type": "string",
                "enum": [
                  "put"
                ]
              },
              "version": {
                "type": "integer"
              },
              "data": {
                "$ref": "#/components/schemas/WatchedVideo"
              }
            },
            "required": [
              "entity",
              "entityId",
              "operation",
              "version",
              "data"
            ]
          },
          {
            "type": "object",
            "properties": {
              "entity": {
                "type": "string",
                "enum": [
                  "knownWord",
                  "list",
                  "listWord",
                  "watchedVideo"
                ]
              },
              "entityId": {
                "type": "string"
              },
              "operation": {
                "type": "string",
                "enum": [
                  "delete"
                ]
              },
              "version": {
                "type": "integer"
              },
              "data": {
                "type": "null"
              }
            },
            "required": [
              "entity",
              "entityId",
              "operation",
              "version",
              "data"
            ]
          }
        ],
        "description": "An entity as it is now (`put`, with `data`), or gone (`delete`): a deleted list, a word removed from a list, a video removed or past the newest the account keeps, or one never there. A cleared known word is a `put` with `known: false`."
      },
      "KnownWord": {
        "type": "object",
        "properties": {
          "itemId": {
            "type": "string"
          },
          "headword": {
            "type": "string"
          },
          "reading": {
            "type": "string"
          },
          "known": {
            "type": "boolean"
          }
        },
        "required": [
          "itemId",
          "headword",
          "reading",
          "known"
        ]
      },
      "WordList": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "position": {
            "type": "integer"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "position",
          "createdAt"
        ]
      },
      "ListWord": {
        "type": "object",
        "properties": {
          "listId": {
            "type": "string"
          },
          "itemId": {
            "type": "string"
          },
          "headword": {
            "type": "string"
          },
          "reading": {
            "type": "string"
          },
          "addedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "listId",
          "itemId",
          "headword",
          "reading",
          "addedAt"
        ]
      },
      "WatchedVideo": {
        "type": "object",
        "properties": {
          "videoId": {
            "type": "string"
          },
          "title": {
            "type": [
              "string",
              "null"
            ],
            "description": "At most 200 characters: a longer one is cut, and control characters become spaces."
          },
          "author": {
            "type": [
              "string",
              "null"
            ],
            "description": "The channel, held as title is."
          },
          "duration": {
            "type": [
              "number",
              "null"
            ],
            "description": "Seconds."
          },
          "position": {
            "type": [
              "number",
              "null"
            ],
            "description": "Seconds: where the learner was."
          },
          "comprehension": {
            "type": [
              "number",
              "null"
            ],
            "description": "The share of the captions' words the learner knows, 0 to 1."
          },
          "watchedAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the learner last watched it, as the app said; a time after the service's is taken as the service's."
          }
        },
        "required": [
          "videoId",
          "title",
          "author",
          "duration",
          "position",
          "comprehension",
          "watchedAt"
        ]
      },
      "SyncRequest": {
        "type": "object",
        "properties": {
          "cursor": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1,
            "maxLength": 200,
            "description": "The `cursor` from the last answer whose changes the client applied. Leave it out, or send null, to start from the beginning."
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 500,
            "description": "The most journal entries to read this time. Default 100."
          },
          "mutations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Mutation"
            },
            "maxItems": 50,
            "description": "Up to 50 changes made on the device, applied in order before the changes are read."
          }
        }
      },
      "Mutation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[A-Za-z0-9_-]{8,64}$",
            "description": "A client-made ID, unique for each mutation, such as a UUID. Sending the same mutation again under its ID never applies it twice, and gets the same outcome: applied at the same version, a conflict with the entity as it is then, or a rejection with the same `error.code`. Reusing an ID for a different mutation is rejected with `mutation_id_reused`."
          },
          "entity": {
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9_-]{0,63}$",
            "description": "`profile`, `knownWord`, `list`, `listWord`, or `watchedVideo`. Any other is rejected with `unknown_entity`, and the rest of the request still applies. A change the app's scopes don't allow is rejected with `not_allowed`, and the app reads only the entities its scopes do."
          },
          "operation": {
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9_-]{0,63}$",
            "description": "- `profile`: `update` (`fields` name, username, or both; `baseVersion`). It applies only at the profile's current version.\n- `knownWord`: `mark` (`fields` headword and reading) and `clear`, each with `baseVersion`. Either applies only if the word is still at `baseVersion`, so a mark made before the learner cleared the word loses to the clear, and one made after it wins. Marking a known word, or clearing one not known, is applied and changes nothing.\n- `list`: `create` (`fields` name and position), `update` (`fields` name, position, or both; `baseVersion`), and `delete`. An update applies only at the current version, so two renames conflict; one that already matches the list is applied. A delete wins over everything done to the list since, renames and words added elsewhere too, and takes its words with it. A list name is 1 to 500 characters once trimmed; control characters become spaces.\n- `listWord`: `add` (`fields` headword and reading) and `remove` (`baseVersion`). An add always applies. A remove applies only if it saw the latest add, so an add the remover never saw wins.\n- `watchedVideo`: `watch` (`fields` watchedAt, and any of title, author, duration, position, and comprehension; `baseVersion`) and `remove`. A watch of a video the account has applies whatever its version, so the latest place in it wins; fields it leaves out keep theirs, and the video keeps the later watchedAt. A watch of a video the learner removed applies only at the removal's version, so one made before seeing the removal loses to it. A remove always applies. The account keeps the 50 most recently watched: a watch past that removes the oldest, which syncs as a delete."
          },
          "entityId": {
            "type": "string",
            "pattern": "^[^\\p{Cc}\\p{Cf}\\s]{1,200}$/u",
            "description": "- `profile`: the account's ID, or left out.\n- `knownWord`: the item, a Language Reference ID (32 lowercase hex digits) or `kanji:` and one kanji, which is stored in Unicode NFC.\n- `list`: its UUID, in either case; answers name it in lowercase.\n- `listWord`: the list's UUID, a slash, and the item: `<list>/<item>`.\n- `watchedVideo`: the YouTube video ID, 11 letters, digits, `-`, or `_`."
          },
          "baseVersion": {
            "type": "integer",
            "minimum": 0,
            "description": "The version of the entity the change was made to, or 0 for one the client has never seen. If the entity has changed since, the change waits on its rule: see `operation`."
          },
          "fields": {
            "type": "object",
            "additionalProperties": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "number"
                },
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ]
            },
            "description": "What the operation sets, as `operation` says. Each value is a string, number, boolean, or null."
          }
        },
        "required": [
          "id",
          "entity",
          "operation"
        ]
      },
      "SignIn": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": "The session's bare token. Keep the signed one from the `set-auth-token` header instead: it is the refresh token."
          },
          "user": {
            "$ref": "#/components/schemas/SignedInUser"
          }
        },
        "required": [
          "token",
          "user"
        ],
        "additionalProperties": {}
      },
      "SignedInUser": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "emailVerified": {
            "type": "boolean"
          },
          "image": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "email",
          "emailVerified",
          "image",
          "createdAt",
          "updatedAt"
        ],
        "additionalProperties": {},
        "description": "Who signed in. GET /v1/me has the profile, with the username and version."
      },
      "WebSignIn": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "redirect": {
            "type": "boolean",
            "enum": [
              true
            ]
          }
        },
        "required": [
          "url",
          "redirect"
        ]
      },
      "IdToken": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": "The ID token Sign in with Apple or Google gave the device."
          },
          "nonce": {
            "type": "string",
            "description": "The nonce from POST /v1/auth/sign-in/nonce, passed to Apple or Google."
          },
          "user": {
            "type": "object",
            "properties": {
              "name": {
                "type": "object",
                "properties": {
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  }
                }
              }
            },
            "description": "The name Sign in with Apple JS hands the website on the learner's first sign-in. Apple's token has none, so it names a new account."
          }
        },
        "required": [
          "token",
          "nonce"
        ]
      },
      "Session": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "token": {
            "type": "string",
            "description": "The session's bare token, which names it to POST /v1/auth/revoke-session. It signs nothing in: only the signed one in `set-auth-token` does."
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "ipAddress": {
            "type": [
              "string",
              "null"
            ]
          },
          "userAgent": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "userId",
          "token",
          "expiresAt",
          "createdAt",
          "updatedAt",
          "ipAddress",
          "userAgent"
        ],
        "additionalProperties": {}
      },
      "Identity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "providerId": {
            "type": "string",
            "description": "`apple`, `google`, or `email`."
          },
          "accountId": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "providerId",
          "accountId",
          "userId",
          "createdAt",
          "updatedAt"
        ],
        "additionalProperties": {}
      }
    },
    "parameters": {}
  },
  "paths": {
    "/v1/health": {
      "get": {
        "summary": "Whether the service can answer",
        "responses": {
          "200": {
            "description": "It can.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    }
                  },
                  "required": [
                    "status"
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Its database doesn't answer.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "unavailable"
                      ]
                    }
                  },
                  "required": [
                    "status"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/me": {
      "get": {
        "summary": "The signed-in account's profile",
        "security": [
          {
            "accessToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The profile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          },
          "401": {
            "description": "`unauthorized`: no access token, or one that is expired, forged, or for an account that no longer exists. Get a new one from GET /v1/auth/token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "`insufficient_scope`: this app's access to the account doesn't include `profile`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "`too_many_requests`: this account sent more than 60 requests here in the current minute. Wait the seconds `Retry-After` says.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "`internal`: the service failed, and nothing says why. Try again later, backing off. In a sync, the mutations before the failure stand, and sending the request again answers them as before.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Change the signed-in account's name or username",
        "description": "Optimistic concurrency: send the `version` last seen as `baseVersion`. The change goes through only if the profile is still at that version, and then its version goes up by one and it appears in /v1/sync. Sending the current values again changes nothing.",
        "security": [
          {
            "accessToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProfilePatch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The profile, as changed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          },
          "400": {
            "description": "`bad_request`, or `invalid_fields`: a name or username out of bounds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "`unauthorized`: no access token, or one that is expired, forged, or for an account that no longer exists. Get a new one from GET /v1/auth/token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "`insufficient_scope`: this app's access to the account doesn't include `profile`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "`version_conflict`, with `current`: the profile changed since `baseVersion`. `username_taken`: another account has that username.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ProfileConflict"
                    },
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "413": {
            "description": "`too_large`: the body is over 64 KB.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "`too_many_requests`: this account sent more than 60 requests here in the current minute. Wait the seconds `Retry-After` says.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "`internal`: the service failed, and nothing says why. Try again later, backing off. In a sync, the mutations before the failure stand, and sending the request again answers them as before.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete the signed-in account",
        "description": "Deletes the account, its ways to sign in, its sessions, and everything it synced, at once; backups age out within 30 days, and the account's email is told. It needs `account:delete`, and a sign-in from the last 10 minutes, so the app asks the learner to sign in again first. An account that signs in with Apple sends a fresh Sign in with Apple authorization code from that sign-in, which the service uses to revoke the app's access with Apple. Each device keeps its own data and works signed out.",
        "security": [
          {
            "accessToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteAccount"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "deleted"
                      ]
                    }
                  },
                  "required": [
                    "status"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "`bad_request`, as for an `appleRedirectUri` on no website origin; `apple_authorization_needed`: the account signs in with Apple, so send a fresh authorization code; `apple_authorization_invalid`: Apple refused it, so sign in with Apple again for a new one; or `apple_account_mismatch`: it is another Apple ID's.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "`unauthorized`: no access token, or one that is expired, forged, or for an account that no longer exists. Get a new one from GET /v1/auth/token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "`insufficient_scope`: the app hasn't `account:delete`; or `sign_in_again`: the sign-in is over 10 minutes old.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "`too_large`: the body is over 64 KB.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "`too_many_requests`: this account sent more than 60 requests here in the current minute. Wait the seconds `Retry-After` says.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "`internal`: the service failed, and nothing says why. Try again later, backing off. In a sync, the mutations before the failure stand, and sending the request again answers them as before.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "`apple_unavailable`: revoking with Apple didn't finish, and nothing was deleted. The code may be used up: sign in with Apple again for a new one, and try again.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sync": {
      "post": {
        "summary": "Send the changes made on the device, and get the changes made elsewhere",
        "description": "Applies `mutations` in order, then answers with the changes after `cursor`. Every mutation is idempotent by its ID, so a request can be sent again after a lost answer. Each answer holds at most `limit` journal entries; while `hasMore` is true, sync again with the new cursor. Results and changes are bounded by the request limits.",
        "security": [
          {
            "accessToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyncRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The results and the changes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyncAnswer"
                }
              }
            }
          },
          "400": {
            "description": "`bad_request`: the body is not JSON, or not this shape.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "`unauthorized`: no access token, or one that is expired, forged, or for an account that no longer exists. Get a new one from GET /v1/auth/token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "410": {
            "description": "`invalid_cursor`: the cursor isn't one this service gave this account, or is past what it holds, as after a restore. Nothing was applied. Sync again with no cursor, and keep what comes back.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "`too_large`: the body is over 64 KB.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "`too_many_requests`: this account sent more than 120 requests here in the current minute. Wait the seconds `Retry-After` says.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "`internal`: the service failed, and nothing says why. Try again later, backing off. In a sync, the mutations before the failure stand, and sending the request again answers them as before.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/email-otp/send-verification-otp": {
      "post": {
        "summary": "Email a sign-in code",
        "description": "Answers the same whether or not the email has an account. Five codes per address in 10 minutes.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "sign-in"
                    ]
                  }
                },
                "required": [
                  "email",
                  "type"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sent, or nothing to send.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "`too_many_requests`: five codes to one email, or from one address, in 10 minutes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "`email_unavailable`: no email sender is set up.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/sign-in/email-otp": {
      "post": {
        "summary": "Sign in with the emailed code",
        "description": "Makes the account on the first sign-in. A `name` is used only then, held to the profile's name rule.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "zenbu-ios",
                "zenbu-web",
                "tomodachi"
              ],
              "description": "The app signing in: its access is the account's, limited to the app's scopes. A browser on one of the website's origins may leave it out."
            },
            "required": false,
            "description": "The app signing in: its access is the account's, limited to the app's scopes. A browser on one of the website's origins may leave it out.",
            "name": "x-zenbu-client",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "otp": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "required": [
                  "email",
                  "otp"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signed in.",
            "headers": {
              "set-auth-token": {
                "description": "The signed session token: the refresh token, good for 60 days from its last use. Send it as `Authorization: Bearer` to GET /v1/auth/token for an access token.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignIn"
                }
              }
            }
          },
          "400": {
            "description": "`invalid_otp`, `otp_expired`, `too_many_attempts`, or `unknown_client`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "`account_not_linked`: an Apple or Google account has this email; sign in that way, then add the email.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "`too_many_requests`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/sign-in/nonce": {
      "post": {
        "summary": "A nonce for one Apple or Google sign-in",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pass `nonce` to Apple or Google; it works once, within `expiresIn` seconds.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "nonce": {
                      "type": "string"
                    },
                    "expiresIn": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "nonce",
                    "expiresIn"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/sign-in/social": {
      "post": {
        "summary": "Sign in with Apple or Google",
        "description": "With `idToken`, signs in with the token the device got, and makes the account on the first sign-in. Without it, starts the web sign-in, which comes back to GET /v1/auth/callback/{id}. A new account's email must be verified by the provider, and an email that already has an account is refused until the learner adds this way while signed in.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "zenbu-ios",
                "zenbu-web",
                "tomodachi"
              ],
              "description": "The app signing in: its access is the account's, limited to the app's scopes. A browser on one of the website's origins may leave it out."
            },
            "required": false,
            "description": "The app signing in: its access is the account's, limited to the app's scopes. A browser on one of the website's origins may leave it out.",
            "name": "x-zenbu-client",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "provider": {
                    "type": "string",
                    "enum": [
                      "apple",
                      "google"
                    ]
                  },
                  "idToken": {
                    "$ref": "#/components/schemas/IdToken"
                  },
                  "callbackURL": {
                    "type": "string",
                    "description": "The website's page the browser comes back to from Google, on one of the website's origins."
                  },
                  "errorCallbackURL": {
                    "type": "string",
                    "description": "Where it comes back instead when signing in fails, with `?error=` and a code such as `account_not_linked`."
                  }
                },
                "required": [
                  "provider"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signed in, or, without `idToken`, the provider page to send the browser to.",
            "headers": {
              "set-auth-token": {
                "description": "The signed session token: the refresh token, good for 60 days from its last use. Send it as `Authorization: Bearer` to GET /v1/auth/token for an access token.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/SignIn"
                    },
                    {
                      "$ref": "#/components/schemas/WebSignIn"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "`nonce_required`, `unknown_client`, or a token that is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "`invalid_nonce`, or `invalid_token`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "`email_not_verified`, or `client_mismatch`: the Apple token was made for another app's bundle ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "`oauth_link_error`: that email has an account; add this way while signed in.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/callback/{id}": {
      "get": {
        "summary": "Where Apple's or Google's web sign-in comes back",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "apple",
                "google"
              ]
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "302": {
            "description": "On to the `callbackURL` the sign-in started with."
          }
        }
      }
    },
    "/v1/auth/link-social": {
      "post": {
        "summary": "Add Apple or Google as another way to sign in",
        "description": "Needs a sign-in from the last 10 minutes. The account email is told. Without `idToken`, the website starts Google's sign-in, which comes back to `callbackURL` with the way added.",
        "security": [
          {
            "sessionToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "provider": {
                    "type": "string",
                    "enum": [
                      "apple",
                      "google"
                    ]
                  },
                  "idToken": {
                    "$ref": "#/components/schemas/IdToken"
                  },
                  "callbackURL": {
                    "type": "string",
                    "description": "The website's page the browser comes back to from Google, on one of the website's origins."
                  },
                  "errorCallbackURL": {
                    "type": "string",
                    "description": "Where it comes back instead when signing in fails, with `?error=` and a code such as `account_not_linked`."
                  }
                },
                "required": [
                  "provider"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Added, or, without `idToken`, the provider page to send the browser to.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        }
                      },
                      "required": [
                        "status"
                      ],
                      "additionalProperties": {}
                    },
                    {
                      "$ref": "#/components/schemas/WebSignIn"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "`unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "`session_not_fresh`: sign in again first; or `insufficient_scope`: the session's app doesn't have `account`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/unlink-account": {
      "post": {
        "summary": "Remove a way to sign in",
        "description": "Needs a sign-in from the last 10 minutes. The last way never goes. The account's email is told.",
        "security": [
          {
            "sessionToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accountId": {
                    "type": "string",
                    "description": "The way in's `id` from GET /v1/auth/list-accounts, not its provider's subject."
                  }
                },
                "required": [
                  "accountId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Removed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "status"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "`failed_to_unlink_last_account`, or `account_not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "`unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "`session_not_fresh`: sign in again first; or `insufficient_scope`: the session's app doesn't have `account`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/token": {
      "get": {
        "summary": "A 15-minute access token for /v1/me, /v1/sync, and the other services",
        "security": [
          {
            "sessionToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "An EdDSA JWT naming only the account (`sub`).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "token"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "`unauthorized`: the session is gone, or `sign_in_again`: it belongs to no app the service lists. Sign in again.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/jwks": {
      "get": {
        "summary": "The keys an access token is checked with",
        "responses": {
          "200": {
            "description": "A JWKS.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "keys": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "kid": {
                            "type": "string"
                          },
                          "alg": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "kid",
                          "alg"
                        ],
                        "additionalProperties": {}
                      }
                    }
                  },
                  "required": [
                    "keys"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/get-session": {
      "get": {
        "summary": "The session the token names",
        "security": [
          {
            "sessionToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The session, or `null` with no valid one.",
            "content": {
              "application/json": {
                "schema": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "session": {
                      "$ref": "#/components/schemas/Session"
                    },
                    "user": {
                      "$ref": "#/components/schemas/SignedInUser"
                    }
                  },
                  "required": [
                    "session",
                    "user"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "`insufficient_scope`: the session's app doesn't have `profile`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/sign-out": {
      "post": {
        "summary": "End this session",
        "security": [
          {
            "sessionToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signed out.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/list-accounts": {
      "get": {
        "summary": "The ways this account signs in",
        "security": [
          {
            "sessionToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Each way in.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Identity"
                  }
                }
              }
            }
          },
          "401": {
            "description": "`unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "`insufficient_scope`: the session's app doesn't have `account`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/list-sessions": {
      "get": {
        "summary": "Where this account is signed in",
        "security": [
          {
            "sessionToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Each session.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Session"
                  }
                }
              }
            }
          },
          "401": {
            "description": "`unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "`insufficient_scope`: the session's app doesn't have `account`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/revoke-session": {
      "post": {
        "summary": "Sign one session out",
        "security": [
          {
            "sessionToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "A session's `token` from list-sessions."
                  }
                },
                "required": [
                  "token"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signed out.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "status"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "`unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "`insufficient_scope`: the session's app doesn't have `account`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/revoke-sessions": {
      "post": {
        "summary": "Sign every session out, this one too",
        "security": [
          {
            "sessionToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signed out.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "status"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "`unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "`insufficient_scope`: the session's app doesn't have `account`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/revoke-other-sessions": {
      "post": {
        "summary": "Sign every other session out",
        "security": [
          {
            "sessionToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signed out.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "status"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "`unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "`insufficient_scope`: the session's app doesn't have `account`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {}
}
